<%# Search form with responsive design - used in the sticky header %>
<%# Expects local variable 'q' to be passed in - an instance of Ransack::Search %>
<div class="px-2 pb-2" data-controller="main">
  <%= search_form_for q, url: app_url, html: { class: "w-full" } do |f| %>
    <label class="sr-only" for="q_title_or_content_cont">Buscar canciones</label>
    <div class="join w-full">
      <%= f.search_field :title_or_content_cont,
        placeholder: "Busca por título o letra…",
        class: "input input-bordered join-item w-full",
        type: "text"
      %>
      <%= f.submit "Buscar", class: "btn btn-primary join-item" %>
    </div>
  <% end %>
</div>
