<section data-background-color="#000000">
</section>

<script>
(function() {
  var scheduleId = '<%= @schedule.id %>';
  console.log('Presenter loaded for schedule:', scheduleId);

  App.schedulePresenter = App.cable.subscriptions.create(
    { channel: "SchedulePresenterChannel", schedule_id: scheduleId },
    {
      connected: function() {
        console.log('Connected to SchedulePresenterChannel');
        restoreState();
      },
      received: function(data) {
        console.log('Received:', data);
        if (data.action === "present") {
          handlePresent(data);
        } else if (data.action === "navigate_to") {
          handleNavigateTo(data);
        } else if (data.action === "present_image") {
          handlePresentImage(data);
        } else if (data.action === "black") {
          handleBlack();
        }
      }
    }
  );

  function handlePresent(data) {
    var slidesContainer = document.querySelector('.reveal .slides');
    slidesContainer.innerHTML = '';

    // Vertical slide stack: title + verses + black
    var parentSection = document.createElement('section');

    // Title sub-slide
    var titleSlide = document.createElement('section');
    titleSlide.innerHTML = '<h2>' + escapeHtml(data.title) + '</h2>';
    parentSection.appendChild(titleSlide);

    // Verse sub-slides
    var maxLines = 4;
    data.verses.forEach(function(verse) {
      var lines = verse.split(/\n/);
      for (var i = 0; i < lines.length; i += maxLines) {
        var chunk = lines.slice(i, i + maxLines);
        var slide = document.createElement('section');
        var text = chunk.map(function(l) { return escapeHtml(l); }).join('<br>');
        if (data.type === 'scripture') {
          slide.innerHTML = '<p>' + text + '</p>' +
            '<p class="scripture-ref">' + escapeHtml(data.title) + '</p>';
        } else {
          slide.innerHTML = '<p>' + text + '</p>';
        }
        parentSection.appendChild(slide);
      }
    });

    // Black sub-slide at end
    var blackSlide = document.createElement('section');
    blackSlide.setAttribute('data-background-color', '#000000');
    blackSlide.innerHTML = '&nbsp;';
    parentSection.appendChild(blackSlide);

    slidesContainer.appendChild(parentSection);

    // Re-initialize Reveal with the new content
    Reveal.sync();
    var targetIndex = data.verse_index || 1;
    setTimeout(function() {
      Reveal.slide(0, targetIndex);
      console.log('Navigated to verse index:', targetIndex);
    }, 100);
  }

  function handleNavigateTo(data) {
    console.log('Navigate to verse_index:', data.verse_index);
    Reveal.slide(0, data.verse_index);
  }

  function handlePresentImage(data) {
    var slidesContainer = document.querySelector('.reveal .slides');
    slidesContainer.innerHTML = '';

    var section = document.createElement('section');
    section.setAttribute('data-background-color', '#000000');
    section.style.display = 'flex';
    section.style.alignItems = 'center';
    section.style.justifyContent = 'center';
    section.style.height = '100%';
    var img = document.createElement('img');
    img.src = data.image_url;
    img.style.maxWidth = '1920px';
    img.style.maxHeight = '1080px';
    img.style.objectFit = 'contain';
    section.appendChild(img);
    slidesContainer.appendChild(section);

    Reveal.sync();
    Reveal.slide(0, 0);
  }

  function handleBlack() {
    var slidesContainer = document.querySelector('.reveal .slides');
    slidesContainer.innerHTML = '';
    var blackSection = document.createElement('section');
    blackSection.setAttribute('data-background-color', '#000000');
    blackSection.innerHTML = '&nbsp;';
    slidesContainer.appendChild(blackSection);
    Reveal.sync();
    Reveal.slide(0, 0);
  }

  function restoreState() {
    var url = '<%= current_state_admin_schedule_path(@schedule) %>';
    fetch(url, { headers: { 'Accept': 'application/json' } })
      .then(function(r) { return r.json(); })
      .then(function(state) {
        console.log('Restoring state:', state);
        if (state.action === 'present' && state.verses) {
          handlePresent(state);
        } else if (state.action === 'present_image' && state.image_url) {
          handlePresentImage(state);
        } else if (state.action === 'black') {
          handleBlack();
        }
      })
      .catch(function(err) {
        console.log('No saved state to restore:', err);
      });
  }

  function escapeHtml(text) {
    var div = document.createElement('div');
    div.appendChild(document.createTextNode(text));
    return div.innerHTML;
  }
})();
</script>
