name: Ruby

on:
  push:
    branches: [ "master", "development" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: holymusic_app_rails_test
        ports:
          - 5432:5432
        # Wait for the database to be ready before running steps
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    strategy:
      matrix:
        ruby-version: ['3.4.5']

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Dependencies
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y postgresql-client wkhtmltopdf libpq-dev

      - name: Install Gems dependencies
        env:
          RAILS_ENV: test
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3

      - name: Prepare DB
        env:
          RAILS_ENV: test
          DATABASE_URL: 'postgres://postgres:postgres@127.0.0.1:5432/holymusic_app_rails_test'
          PGHOST: 127.0.0.1
          PGUSER: postgres
          PGPASSWORD: postgres
          PGDATABASE: holymusic_app_rails_test
        run: |
          bundle exec rails db:prepare

      - name: Install Node dependencies
        run: yarn install --frozen-lockfile

      - name: Build assets
        run: yarn build

      - name: Run tests
        env:
          RAILS_ENV: test
          DATABASE_URL: 'postgres://postgres:postgres@127.0.0.1:5432/holymusic_app_rails_test'
          PGHOST: 127.0.0.1
          PGUSER: postgres
          PGPASSWORD: postgres
          PGDATABASE: holymusic_app_rails_test
        run: bundle exec rspec spec

      - name: Upload coverage to Codecov
        if: always()
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: false   # prevents failures on empty commits
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/.resultset.json

      - name: Upload coverage artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/
